$white: #fff;
$dark-white: #e6e6e6;
$black: #000;
$deep-red: #bc2727;
$deep-red2: #cc2c2c;
$deep-grey: #adadad;
$light-grey: #e6e6e6;
$grey: #ccc;
$grey2: #c1c1c1;
$yellow: #d8a61c;
$light-yellow: #dbaa23;
$blue: #4286f4;
$light-blue: #5998ff;
$green: #75d159;
$dark-grey: #2c3e50;